{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<div class="row">
			<h2 class="col-xs-12">About the artist, Cristen Magree</h2>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<img src="static/deco_images/2014-06-21-19-27-18.jpg">
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
				<p>I live in Northeast Ohio with my husband, Mark, in the beautiful foothills of the Allegheny Mountains and just a short drive from prehistoric Lake Erie. In a landscape that has inspired much of my work, I strive to bring the natural beauty of our planet to each piece of artwork I make. </p>
				<p>I went to Kent State University for geology and meteorology with my artistic background including art history research and studies, cartooning, FX makeup, various painting mediums and jewelry design. </p>
				<p>I participate annually in local art, craft and nature shows, have jewelry on display at The Portage Hill Gallery in Chautauqua, NY and regularly participate in many charity events both locally and abroad. Rusty Bear Studio was founded in 2013 (formerly CMArt, est. 2008) and has been successfully growing ever since.</p>
			</div>
			<h2 class="col-xs-12">How Rusty Bear Studio got it's name</h2>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
				<p>My studio is named after a dear love of mine, my cat Rusty (affectionately called Rusty Bear). He came to us as a stray one winter day and as soon as he set foot in our home he had declared us his humans. He made himself at home and I immediately fell madly in love with our rough, weather beaten, orange sweetheart. </p>
				<p>Unfortunately my Rusty Bear passed away in 2013 and to help deal with the grief of my loss and honor my little buddy, I renamed my small business and the rest is history!</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<img src="static/deco_images/rusty_bear.jpg">
			</div>
		</div>
	</div>
</div>
{% endblock %}
