{% extends "bootstrap/base.html" %}
{{ Super() }}
{% block title %}Rusty Bear Studio{% endblock %}

{% block navbar %}
{{ super() }}
<nav class="navbar navbar-default navbar-static-top" role="navigation" id="myNavbar">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">RBS Home</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/about">About</a></li>
				<li class="active"><a href="/policy">Policies</a></li>
				<li class="active"><a href="/contact">Contact</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery List
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
{% for x in gallery_list %}
						<li class="active">
							<a href="{{x}}">
								{{x|replace('_',' ')|title()}}
							</a>
						</li>
{% endfor %}
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}


{% block content %}{% endblock %}



