{% extends "base.html" %}
{% block content %}
<div class='container'>
	<div class="jumbotron">
		<div class="row">
			<h1>Rusty Bear Studio</h1>
			<h2>by Cristen Magree</h2>
			<br>
			<h2 class="text-center">Show List</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Event</th>
						<th>Date</th>
						<th>Day 1</th>
						<th>Day 2</th>
						<th>Address</th>
						<th>Notes</th>
					</tr>
				</thead>
				<tbody>
					{% for show in show_list %}
					<tr>
						<td>{{show.name}}</td>
						<td>{{show.month_txt}} {{show.day}}
							{% if show.days == 2 %} + {{show.month2_txt}} {{show.day2}} {% endif %}</td>
						<td>{{show.time_start}} - {{show.time_end}}</td>
						<td>{{show.time_start2}} = {{show.time_end2}}</td>
						<td>{{show.street_number}} {{show.street_name}}, {{show.city}}</td>
						<td>{{show.details}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
