{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<h2 class="text-center">All payments must be made within 24 hours of confirming your order</h2>
				<p>(Unless otherwise discussed and confirmed for payment at pickup)</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<h2 class="text-center">Acceptable Methods of Payment</h2>
				<p>I accept credit card, Paypal, or cash. I do not accept checks and apologize for any inconvenience tha may cause.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<h2 class="text-center">Cancellation Policy</h2>
				<p>If payment fails to clear, I will contact you and discuss other payment options. If you fail to maintain contact as a buyer after more than a week, your order will be re-listed for public purchase.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<h2 class="text-center">Once a piece is sold, it's gone</h2>
				<p>All of my pieces are handmade and one of a kind. If you see a piece you like that has been sold, please contact me and we can work out a similar piece if you'd like.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<h2 class="text-center">Return Poicy and Shipping</h2>
				<h3>All sales are FINAL</h3>
				<p>I use USPS to ship all of my work. If you have a different preferred method, let me know and I can ship it that way. There is a shipping and handling fee added to each order being shipped. Price includes shipping and packaging. Fees are listed on the product pages.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<h2 class="text-center">Orders will be shipped upon receiving cleared payment</h2>
				<p>As soon as I receive payment I will send you a confirmation email stating I got the payment. Orders will be shipped next day and I will provide you with a tracking number once the order has been sent. Rusty Bear Studio and Cristen Magree are NOT responsible for any damage caused during shipping. If your piece has been damaged during the shipping process, please contact the carrier and file a report.</p>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<h2 class="text-center">Comission Pieces</h2>
				<p>I am not currently taking commissions.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
